* {
  padding: 0px;
  margin: 0px;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  position: relative;
}

#greeting-container {
  margin-top: 20px;
}

.desk {
  position: relative;
}
.laptopTop {
  position: relative;
  height: 105px;
  width: 170px;
  background-color: rgb(179, 191, 194);
  transform: translate(20px, 0px);
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid #2d2f32;
}
.laptopEyeCam {
  background-color: black;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px rgb(179, 191, 194);
}
.laptopScreen {
  background-color: blueviolet;
  height: 90px;
  width: 160px;
  margin: auto;
}
.laptopBottom {
  position: relative;
  border-bottom: 70px solid rgb(179, 191, 194);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 170px;
  border-radius: 0px 0px 10px 10px;
}
#keyboard {
  border-bottom: 30px solid rgb(55, 62, 63);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 120px;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  left: 19px;
}
div#trackPad {
  position: absolute;
  border-bottom: 20px solid rgb(110 120 122);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 50px;
  border-radius: 4px;
  top: 40px;
  left: 55px;
}
.clockShape {
  display: flex;
}
.clock {
  aspect-ratio: 16/9;
  height: 30px;
  border-radius: 10%;
  padding: 10px;
  background-color: #2d2f32;
  border: 10px solid rgb(192, 150, 73);
  transform: skew(-10deg);
}
.time {
  display: flex;
  color: aliceblue;
  text-align: center;
  font-family: "Orbitron", "sans-serif";
}
.date {
  display: flex;
  color: aliceblue;
  text-align: center;
  font-size: 8px;
}
.clockSide {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 53px solid rgb(111 92 55);
  transform: skew(18deg, -29deg) rotate(5deg) translate(-14px, -2px);
  border-radius: 7px;
}

div#table {
  position: absolute;
  min-height: 100px;
  height: 120px;
  width: 100%;
  background-color: rgb(232, 238, 240);
  top: 224px;
  left: 0;
  z-index: -1;
}
