* {
  padding: 0px;
  margin: 0px;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  position: relative;
}

button {
  margin-top: 20px;
  max-width: 75px;
  font-size: 7px;
  border: none;
  font-family: emoji;
  background-color: rgb(214 186 118 / 21%);
  box-shadow: inset -2px -2px 3px 3px #d2b48cc7, 1px 0px 2px 1px #6a33178f;
  padding: 3px;
}
#greeting-container {
  margin-top: 20px;
  position: absolute;
  aspect-ratio: 6/3;
  height: 50px;
  background-color: #35009a52;
  top: 207px;
  z-index: -1;
  border-radius: 4px;
  box-shadow: 5px 5px 9px 2px rgb(104 70 122 / 46%);
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 2px;
}
.desk {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.laptopTop {
  position: relative;
  height: 105px;
  width: 170px;
  background-color: rgb(179, 191, 194);
  transform: translate(20px, 0px);
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid #2d2f32;
}
.laptopEyeCam {
  background-color: black;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px rgb(179, 191, 194);
}
.laptopScreen {
  background-image: url(/portfolio/src/main/webapp/images/umaru.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90px;
  width: 160px;
  margin: auto;
}
.laptopBottom {
  position: relative;
  border-bottom: 70px solid rgb(179, 191, 194);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 170px;
  border-radius: 0px 0px 10px 10px;
}
#keyboard {
  border-bottom: 30px solid rgb(55, 62, 63);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 120px;
  border-radius: 4px;
  position: absolute;
  top: 4px;
  left: 19px;
}
div#trackPad {
  position: absolute;
  border-bottom: 20px solid rgb(110 120 122);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 50px;
  border-radius: 4px;
  top: 40px;
  left: 55px;
}
.clockShape {
  display: flex;
}
.clock {
  aspect-ratio: 16/9;
  height: 30px;
  border-radius: 10%;
  padding: 10px;
  background-color: #2d2f32;
  border: 10px solid rgb(192, 150, 73);
  transform: skew(-10deg);
}
.time {
  display: flex;
  color: aliceblue;
  text-align: center;
  font-family: "Orbitron", "sans-serif";
  font-size: 14px;
  justify-content: center;
}
.date {
  display: flex;
  color: aliceblue;
  text-align: center;
  font-size: 8px;
}
.clockSide {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 53px solid rgb(111 92 55);
  transform: skew(18deg, -29deg) rotate(5deg) translate(-14px, -2px);
  border-radius: 7px;
}

div#table {
  position: absolute;
  min-height: 100px;
  height: 120px;
  width: 100%;
  background-color: rgb(232, 238, 240);
  top: 224px;
  left: 0;
  z-index: -2;
}
.paper {
  position: relative;
  aspect-ratio: 4/3;
  width: 84px;
  background-color: rgb(240, 241, 242);
  transform: skew(65deg, -36deg) rotate(-6deg) translate(-134px, -4px);
  border: 0.02px solid rgba(107, 111, 113, 0.44);
  box-shadow: 5px 5px 10px 2px #888888;
}

#paperStuff {
  font-size: 6px;
}
#hole {
  margin-left: 3px;
  width: 2px;
  height: 2px;
  background-color: transparent;
  display: block;
  border-radius: 50%;
  border: 0.5px solid #79889e;
}

tr {
  border: 0.02px solid rgba(84, 148, 189, 0.44);
  text-align: center;
  border-left: none;
  border-right: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}

.wall {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.grid {
  width: 200px;
  z-index: -1;
}
.onGrid {
  position: relative;
}
.grid-table,
.grid-td {
  border: 1px solid #0b0d1d;
  text-align: left;
}

.clip {
  position: absolute;
  height: 12px;
  width: 7px;
  background-color: rgb(53 25 4);
  top: 0;
  box-shadow: inset 1px 1px 2px 2px #d2b48c78;
}
#grid-img1 {
  aspect-ratio: 1/1;
  width: 50px;
  background-image: url(/portfolio/src/main/webapp/images/IU.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container*/
  position: absolute;
  top: 10px;
  left: 20px;
  transform: rotate(-12deg);
  box-shadow: 2px 2px 2px 2px #451a5c4e;
}

#clip1 {
  top: 3px;
  left: 38px;
  transform: rotate(-12deg);
}

div#grid-img2 {
  aspect-ratio: 1/1;
  width: 50px;
  background-image: url(/portfolio/src/main/webapp/images/cuteBear.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 102px;
  left: 50px;
  box-shadow: 2px 2px 2px 2px #a1adc0a6;
}

#clip2 {
  top: 94px;
  left: 73px;
}
div#grid-img3 {
  aspect-ratio: 1/1;
  width: 50px;
  background-image: url(/portfolio/src/main/webapp/images/miyamura.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 120px;
  left: 118px;
  transform: rotate(13deg);
  box-shadow: 2px 2px 2px 2px #6f4816a6;
}
#clip3 {
  top: 113px;
  left: 147px;
  transform: rotate(17deg);
}
div#grid-img4 {
  aspect-ratio: 9/16;
  width: 40px;
  background-image: url(/portfolio/src/main/webapp/images/cuteCouple.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 15px;
  left: 94px;
  transform: rotate(5deg);
  box-shadow: 2px 2px 2px 2px #3b5066a6;
}
#clip4 {
  top: 9px;
  left: 115px;
  transform: rotate(8deg);
}
div#grid-img5 {
  aspect-ratio: 9/16;
  width: 40px;
  background-image: url(/portfolio/src/main/webapp/images/cloud.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 28px;
  left: 153px;
  transform: rotate(-3deg);
  box-shadow: 2px 2px 2px 2px #27445aa6;
}
#clip5 {
  top: 21px;
  left: 167px;
  transform: rotate(-4deg);
}
.me {
  aspect-ratio: 3/4;
  width: 45px;
  position: absolute;
  top: 112px;
  left: -2px;
  transform: rotate(-3deg);
  box-shadow: 2px 2px 2px 2px #cacccea6;
  font-size: 10px;
  text-align: center;
  background-color: white;
}

div#grid-imgMe {
  aspect-ratio: 3/3;
  width: 40px;
  background-image: url(/portfolio/src/main/webapp/images/me.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding-top: 30px; */
  margin: auto;
  position: relative;
  margin-top: 2px;
}
.material-symbols-outlined {
  font-size: 2px;
  color: red;
}
#clip6 {
  top: 104px;
  left: 16px;
  transform: rotate(-3deg);
}
.musicBox {
  position: relative;
  aspect-ratio: 1/1;
  width: 100px;
  background-color: rgb(251, 195, 195);
  border-radius: 5px;
  box-shadow: 5px 5px 4px 2px rgb(155, 147, 147);
}
#musicImg {
  position: absolute;
  top: 0;
  aspect-ratio: 1/1;
  width: 75px;
  background-image: url(/portfolio/src/main/webapp/images/emoji-2oclock.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container*/
  border-radius: 50%;
  -moz-box-shadow: 0 0 3px rgb(63, 39, 39);
  -webkit-box-shadow: 0 0 3px rgb(72, 44, 44);
  box-shadow: 0 0 3px rgb(16, 10, 10);
  top: 12px;
  left: 12px;
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#musicImg:hover:after {
  content: "2oclock (feat. JUNNY)";
  text-align: center;
  display: block;
  color: aliceblue;
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#musicHole {
  position: absolute;
  aspect-ratio: 1/1;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  top: 45px;
  left: 45px;
}
audio {
  display: none; /**hides the audio play button*/
}
